{include file="header.html"}
{if count($org_row) eq 0 and count($vss_row) eq 0}
Only the primary storyteller for a venue or organization can set the storyteller instructions.
{else}
<table class="data">
<tr>
		<th class="subhead" align="center">
				Pick Org/VSS
		</th>
</tr>
{foreach from=$org_row item=row}
<tr class="vssMetadata {cycle values=",dark"}">
		<td>
				<a href="ModifySTInstructions1.php?org_id={$row.id}&">{$row.org_name}</a>
		</td>
</tr>
{/foreach}
{foreach from=$vss_row item=row}
<tr class="vssMetadata {cycle values=",dark"}">
		<td>
				VSS: <a href="ModifySTInstructions1.php?vss_id={$row.id}&">{$row.name}</a>
		</td>
</tr>
{/foreach}
</table>
{/if}
{include file="footer.html"}
{activateUserPopups}
